- content_for :javascript do
  = javascript_include_tag "jquery.js"
  = javascript_include_tag "jqueryAutoHeight.js"

%h2<>
  Your Wish List
- unless current_user.try(:wishlist).try(:has_key?)
  .alert.alert-success
    %button{:type => "button", :class => "close", :"data-dismiss" => "alert"}
      ☓
    %h4
      Welcome!
    At first, you should register your wish list ID below.

  = link_to "Register your wishlist ID", :action => :register_wishlist_id
- else
  = render "share_button"
  - if @sliced_products
    - @sliced_products.each do |product_group|
      %ul.thumbnails
        - product_group.each do |product|
          %li.span3
            = link_to(product['url'], :target => '_blank', :class => 'thumbnail') do
              = image_tag(product["image"])
              %h4
                = product['title']
              %p
                = product['price']
  = render "share_button"

:javascript
  jQuery(function($){
      $('li.span3').autoHeight();
  });